# /blog/templates/blog/post_list.html

# template for post_list

<html>
    <head>
        <title>Seani's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Seani' Blog</a></h1>
        </div>

        <div>
            <p>published: 24.11.2017, 18:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Seani's with Todorov for maths</p>
        </div>

        <div>
            <p>published: 24.11.2017, 18:24</p>
            <h2><a href="">My Second post</a></h2>
            <p>In a petrol station programming</p>
        </div>
    </body>
</html>